.post-meta {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rss-subscribe {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.page-link {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer-col {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.site-title {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.post-list-heading {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.post-link {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
