body {
    min-height: 100vh; /* 确保 body 至少和视口一样高 */
    position: relative; /* 允许内部的背景层进行绝对定位 */
    z-index: 1; /* 确保内容在背景之上 */
    
    /* 你的文字颜色设置 (根据背景图调整) */
    /* color: #FFFFFF; /* 如果背景图会变暗，文字用白色 */ */
    /* color: #333333; */ /* 如果背景图会变亮，文字用深灰色 */

    /* 确保内容不会被背景层挡住 */
    isolation: isolate; 
}

#bg-overlay::before {
    content: ''; /* 伪元素必须有 content 属性 */
    position: fixed; /* 固定在屏幕上，不随滚动 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* [!! 关键部分 !!] 设置背景图片和透明度 */
    background-image: url('../images/yang.jpg'); /* <<-- 确保路径和文件名正确！ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* 背景固定 */
    
    /* 调整背景图片本身的透明度！ */
    opacity: 0.5; /* <<-- 你可以在这里调整透明度，0.0 是完全透明，1.0 是完全不透明 */
    
    z-index: -1; /* 让这个背景层位于内容之下 */
}

.intro {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.post-meta {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rss-subscribe {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.page-link {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer-heading {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer-col-3 {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.site-title {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.post-list-heading {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

.post-link {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
} */

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
